



.btn-gen {
    padding: 10px;
    background: #1bfd97;
    border: 1px none gray;
    font-weight: bold;
    border-radius: 5px;
    display: block;
    font-size: 16px;
}


.id-range > input, .id-range > button {
    height: 100%;
}


.btn {
    min-width: 35px;
    background: #c4c4c4;
    border: unset;
    border-radius: 5px;
    font-weight: bold;
}


.btns-tray-container {
    display: flex;
    width: fit-content;
    margin: auto;
    border-bottom: 1px solid #1bfd97;
    padding: 15px;
}

.btns-tray-container > * {
    margin-right: 5px;
}


.bp-embed {
    text-align: center;
    margin-top: 15px;
}

.bp-embed > iframe {
    border-radius: 15px;
    border: 2px solid #fff;
    box-shadow: 5px 5px white;
}



body {
    background-color: #252525;
}


#page {
    max-width: 1024px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 15% auto;
  
}